PORT=8787
FRONTEND_URL=http://127.0.0.1:5500
MONGODB_URI=mongodb://127.0.0.1:27017/valena
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
CORS_ORIGIN=http://127.0.0.1:5500
